@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "Playfair Display", serif;
  background-color: rgb(37, 34, 34);
  background-image: url("/assets/img/bg-cards.jpg");
  /* background-color: #a6d7f4; */
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.container .heading {
  color: white;
  font-size: 32px;
  line-height: 36px;
  z-index: 99999;
}
.weather__card {
  background-color: #fff;
  display: none;
  flex-direction: column;
  text-align: center;
  padding: 20px 15px;
  width: 300px;
  color: white;
  border-radius: 20px;
  gap: 15px;
  background-image: url("/assets/img/bg-cards.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}
.search {
  display: flex;
  /* justify-content: space-between; */
  gap: 5px;
}

.search #searchPlace {
  padding: 10px 20px;
  background-color: rgb(222, 217, 217);
  outline: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  border: 0.5px solid white;
  border-radius: 30px;
}
.search .btn {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  border: 1px solid rgb(183, 180, 180);
  cursor: pointer;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cityName__temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 !important;
  gap: 5px;
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
}
.weather img {
  height: 150px;
  width: 170px;
}

.details {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.col i {
  font-size: 20px;
  color: white;
}
.sunRise__Sunset {
  display: flex;
  justify-content: space-between;
  /* width: 300px; */
}
.timeShower {
  display: none;
  color: white;
  font-size: 22px;
  line-height: 26px;
  z-index: 99999;
}

.showTemperature,
.weatherCity {
  color: white !important;
  text-align: center;
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
}
.showTemperature {
  font-size: 40px;
  text-align: left;
  font-weight: 500;
}
.temp__feels-like {
  display: flex;
  justify-content: space-between;
}
.feelsLike__details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 22px;
  line-height: 26px;
}
.humidity--text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sunriseSunsetTime img {
  height: 100px;
  width: 100px;
}
.sunriseSunsetTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
/* .weather {
  display: none;
} */
/* font-family: 'Playfair Display', serif; */
/* * { */
/* margin: 0;
  padding: 0; */
/* box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif; */
/* height: 100vh; */
/* background-color: rgb(37, 34, 34);
}
.container {
  /* max-width: 1280px; 
  border: 1px solid green;
  margin: 0 auto;
  display: flex;
  flex-direction: column; */
/* justify-content: center; */
/* align-items: center;
  height: 100vh; */
/* gap: 20px; */
/* }
.heading {
  font-size: 40px;
  line-height: 46px;
  color: white;
}
.wrapper__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
/* align-items: center; */
/* border: 1px solid red; */
/* gap: 20px; */
/* background-color: #a6d7f4;
  padding: 20px; */
/* padding: 10px 70px; */
/* border-radius: 20px; */
/* text-align: center; */
/* max-height: 100vh; */
/* height: 65vh; */
/* gap: 20px;
} */

/* form {
  display: flex;
  gap: 5px;
  /* padding-left: 70px; 
}

form #searchPlace {
  padding: 10px 20px;
  background-color: rgb(222, 217, 217);
  outline: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  border: 0.5px solid white;
  border-radius: 30px;
}
form .btn {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  border: 1px solid rgb(183, 180, 180);
  cursor: pointer;
}
figure {
  height: 50px;
  width: 90px; */
/* object-fit: cover; */
/* padding-right: 250px; */
/* margin: 10px auto; */
/* } */
/* .image__crop__humi__wind {
  height: 50px;
  width: 80px;
} */

/* .showTemperature {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showTemp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details {
  display: flex;
  justify-content: space-between;

   width: 100%; 
}
.col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.col i {
  font-size: 60px;
  color: white;
}
.sunRise__Sunset {
  color: white;
  display: flex;
  justify-content: space-between;
} */
